 /* .payment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  
  .payment-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 768px) {
    .payment-container {
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }
  
  .payment-heading {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1e293b;
    margin: 20px;
    text-align: center;
  }
  .payment-description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #64748b;
    text-align: center;
    margin: 20px;
  }
  .payment-home-page-button {
    background-color: #f7931e;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 8px 16px 8px 16px;
    outline: none;
    cursor: pointer;
  }   */


  .payments-container {
    padding: 25px;
    background-color: #C7F3FF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .payments-heading {
    margin: 0;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 600;
    color: #1f246a;
  }
  
  .payments-sub-heading {
    margin: 15px 0 15px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    color: #1f246a;
  }
  
  .payment-method-inputs {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .payment-method-input-container {
    display: flex;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .payment-method-input {
    height: 15px;
    width: 15px;
    margin-right: 5px;
  }
  
  .payment-method-label {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: #1f246a;
  }
  
  .disabled-label {
    color: #1f246a70;
  }
  
  .confirm-order-button {
    background-color: teal;
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    color: #fff;
    font-family: 'Roboto';
    font-size: 16px;
  }
  
  .confirm-order-button:disabled {
    opacity: 0.5;
    background-color: #636363;
  }
  
  .success-message {
    font-size: 18px;
    color: teal;
    font-weight: 500;
    font-family: 'Roboto';
  }